.nav {
  display: flex;
  flex-direction: column;
  background-color: #9F7F70;
  justify-content: center;
  padding: 50px 0 0 30px;
}

.topContent {
  display: flex;
  flex-direction: column;
  background-color: #9F7F70;
  justify-content: center;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0px;
}

.avatar img {
  width: 200px;
  height: 200px;
}

.nameContext {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  color: white;
}

.nameContext img {
  width: 30px;
  height: 30px;
  margin-left: 30px;
  margin-right: -10px;
}

.addressContext {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 26px;
  line-height: 36px;
}

.fieldContext {
  display: flex;
  color: white;
  font-size: 26px;
  align-items: center;
  justify-content: center;
  padding: 14px 0px;
}

.distance {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 10px;
  color: #999999;
  background-color: #fff;
  font-size: 28px;
}
